.container {
  background-color: #f2f6fc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.search-container{
width: 80%;
display: flex;
 justify-content: flex-end;

}


.input-right {
    width: 20%;

}
